{% extends 'base.html.twig' %}
{% block header %}
    <div class="login-header">
        <img src="{{ asset('images/logo.svg') }}">
        <div class="login-header__link">
            <a href="#">Accueil</a>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class= "login-block-page">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.nickname }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="login-inputs">
                <input type="text" class="login-input" value="{{ last_nickname }}" name="nickname" id="inputNickname" class="form-control" autocomplete="username" placeholder="Nickname" required autofocus>
                <input type="password" class="login-input" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            </div>
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="login-submit">
                <button class="btn btn-lg btn-primary" type="submit">
                    Valider
                </button>
            </div>
        </form>
    </div>
{% endblock %}
