<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous" defer></script>
    </head>
    <body>
        {% block flash %}
            {% for message in app.flashes("message") %}
            <div class='alert alert-success alert-dismissible fade show' role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        {% endfor %}
        {% endblock %}
        {% block header %}
            {% if app.request.attributes.get('_route') != '/' %}
                <div class="user-header">
                    <img src="{{ asset('images/logo_white_large.png') }}">
                    <div class="user-header__link">
                        <a href="https://www.fiverr.com/">Accueil</a>
                    </div>
                    <div class="user-header__link">
                        <a href="{{ path("user") }}" class="event">Events</a>
                    </div>
                    <div class="tchat">
                        <button class="dropdown-button">
                        <a href="{{ path('messages') }}"class="messagerie">Messagerie</a>
                        <i></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Mes dossiers</a>
                            <a href="{{ path("received") }}">Boîte de réception</a>
                            <a href="{{ path("sent") }}">Eléments envoyés</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.user %}
                
                <a id="logout-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% endif %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
