{% extends 'base.html.twig' %}

{% block body %}

    {% for event in events %}
        <h2>{{ event.name }}</h2>
        <p>{{ event.date | format_datetime('full', 'full', locale='fr') }}</p>
        <h3>{{ event.city }}</h3>
        <p>{{ event.resume }}</p>
        <a href="{{ event.link }}" target="blank">Jeter un coup d'oeil</a>
    {% endfor %}

{% endblock %}