{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-page-container">
        <h2 class="user-bloc-top">Événements</h2>
        <div class="user-bloc-bottom">
            <div class="event-form-container">
                <h2>Événements</h2>
                <h2>Trier par : </h2>
                <div class="event-form">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Valider">
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="user-events">
                {% for event in events %}
                    <div class="event">
                        <h3>{{ event.name }}</h3>
                        <p>{{ event.date | format_datetime('full', 'short', locale='fr') }}</p>
                        <h4>{{ event.city }}</h4>
                        <p>{{ event.resume }}</p>
                        <a href="{{ event.link }}" target="blank">Jeter un coup d'oeil</a>
                    </div>
                {% endfor %}
            </div>
            <div class="third-div">
        
            </div>
        </div>
    </div>
{% endblock %}